<h1>Amazon EC2 cost</h1>
<h2>1ヶ月当たり(31日分)のAmazon EC2の価格を日本円で表示します。</h2>
<h3>Asia Pacific Tokyo </h3>

Rate:
1米ドル = 
<%= number_to_currency(@rate, :unit => "円", :precision => 2, :format => '%n%u') %>
<br>
<br>


<% @costs.each do |key, val_cost| %>
  <table>
  <th>
    <%= key %>
  </th>
  <% val_cost.each do |c| %>
    <tr>
      <td><%= c[0] %></td>
      <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
    </tr>
  <% end %>
  </table>
  <br>
<% end %>

2011 @u16suzu
