<h1>Amazon EC2 cost</h1>
<h2>1ヶ月当たり(31日分)のAmazon EC2の価格を日本円で表示します。</h2>
<h3>Asia Pacific Tokyo </h3>

Rate:
1米ドル = 
<%= number_to_currency(@rate, :unit => "円", :precision => 2, :format => '%n%u') %>
<br>
<br>


<% @costs.each do |key, val_cost| %>
  <table>
  <th>
    <%= key %>
  </th>
  <% val_cost.each do |c| %>
    <tr>
      <td><%= c[0] %></td>
      <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
    </tr>
  <% end %>
  </table>
  <br>
<% end %>

2011 @u16suzu
<br>
<br>
<!--タグはここから--><table border="0" cellspacing="0" cellpadding="0"><tr><td align="center"><a href="http://www.rays-counter.com/"><img src="http://www.rays-counter.com/d140_f6_001/4eff4b20865e0/" alt="アクセスカウンター" border="0"></a></td></tr><tr><td align="center"><a href="http://auve.jp/"><img src="http://www.rays-counter.com/images/counter_01.gif" border="0" alt="占い"></a><a href="http://www.e-creditcard.info/"><img src="http://www.rays-counter.com/images/counter_02.gif" border="0" alt="クレジットカード比較"></a><a href="http://angeldays.jp/"><img src="http://www.rays-counter.com/images/counter_03.gif" border="0" alt="おっきくなぁれ 販売"></a><a href="http://www.queen-eyes.com/fs/queeneyes/c/black/"><img src="http://www.rays-counter.com/images/counter_04.gif" border="0" alt="カラコン 黒"></a><img src="http://www.rays-counter.com/images/counter_05.gif" border="0"></td></tr></table><!--ここまで-->
