<h1>Amazon EC2 monthly(31days) costs in JPY</h1>
<h2>Asia Pacific Tokyo </h2>

Rate:
1米ドル = 
<%= number_to_currency(@rate, :unit => "円", :precision => 2, :format => '%n%u') %>
<br>
<br>


<% @costs.each_with_index do |cost, index| %>
  <table>
  <th>
    <%= @labels[index] %>
  </th>
  <% cost.each do |c| %>
    <tr>
      <td><%= c[0] %></td>
      <td><%= number_to_currency(c[1], :unit => "円", :precision => 0, :format => '%n%u') %></td>
    </tr>
  <% end %>
  </table>
  <br>
<% end %>

